<label class="btn btn-ghost btn-circle">
  <input class="sr-only" type="checkbox" (change)="toggleTheme()" />

  @if (initialized()) {
    <div
      class="transition-transform duration-500 ease-in-out"
      [class.rotate-45]="theme() === 'dark'"
    >
      <div class="flex items-center justify-center">
        @if (theme() === "dark") {
          <!-- sun icon -->
          <i class="fa-regular fa-sun text-lg text-amber-400"></i>
        } @else {
          <!-- moon icon -->
          <i class="fa-solid fa-moon text-lg text-sky-800"></i>
        }
      </div>
    </div>
  }
</label>
