<div class="bg-base-200 space-y-6 rounded-lg p-10 shadow-sm">
  <form
    [formGroup]="updatePasswordForm"
    (ngSubmit)="update()"
    class="space-y-6"
  >
    <!-- Current Password -->
    @let currentPassword = updatePasswordForm.controls.currentPassword;
    @let currentPasswordPlaceholder =
      "account.basicInfo.editForm.passwordForm.currentPassword" | translate;
    <div class="space-y-2">
      <label class="floating-label">
        <span>
          {{ currentPasswordPlaceholder }}
        </span>
        <input
          formControlName="currentPassword"
          type="password"
          class="input input-md w-full"
          [placeholder]="currentPasswordPlaceholder"
          autocomplete="current-password"
        />
      </label>

      @if (currentPassword.touched && currentPassword.errors) {
        <ul class="text-error list-inside list-disc space-y-1 text-sm">
          <li>
            {{
              "validations.required"
                | translate: { field: currentPasswordPlaceholder }
            }}
          </li>
        </ul>
      }
    </div>
    <!--  Current Password -->

    <!-- Password -->
    @let newPassword = updatePasswordForm.controls.newPassword;
    @let newPasswordPlaceholder =
      "account.basicInfo.editForm.passwordForm.newPassword" | translate;
    <div class="space-y-2">
      <label class="floating-label">
        <span>
          {{ newPasswordPlaceholder }}
        </span>
        <input
          formControlName="newPassword"
          type="password"
          class="input input-md w-full"
          [placeholder]="newPasswordPlaceholder"
          autocomplete="new-password"
        />
      </label>

      @if (newPassword.touched && newPassword.errors) {
        <ul
          [class]="{
            'list-disc': newPassword.hasError('required'),
            'list-decimal': newPassword.hasError('pattern'),
          }"
          class="text-error list-inside space-y-1 text-sm"
        >
          @if (newPassword.hasError("required")) {
            <li>
              {{
                "validations.required"
                  | translate: { field: newPasswordPlaceholder }
              }}
            </li>
          }
          @if (newPassword.hasError("pattern")) {
            <h4 class="font-semibold">
              {{
                "validations.pattern.password.requirements.title" | translate
              }}
            </h4>
            @for (rule of 5 | range; track $index) {
              <li class="ps-4">
                {{
                  `validations.pattern.password.requirements.rules.${$index}`
                    | translate
                }}
              </li>
            }
          }
        </ul>
      }
    </div>
    <!-- Password -->

    <!-- Confirm New Password -->
    @let confirmNewPassword = updatePasswordForm.controls.confirmNewPassword;
    @let confirmNewPasswordPlaceholder =
      "account.basicInfo.editForm.passwordForm.confirmNewPassword" | translate;
    <div class="space-y-2">
      <label class="floating-label">
        <span>
          {{ confirmNewPasswordPlaceholder }}
        </span>
        <input
          formControlName="confirmNewPassword"
          type="password"
          class="input input-md w-full"
          [placeholder]="confirmNewPasswordPlaceholder"
          autocomplete="new-password"
        />
      </label>

      @if (updatePasswordForm.errors || confirmNewPassword.errors) {
        <ul class="text-error list-inside list-disc space-y-1 text-sm">
          @if (
            confirmNewPassword.touched &&
            confirmNewPassword.hasError("required")
          ) {
            <li>
              {{
                "validations.required"
                  | translate: { field: confirmNewPasswordPlaceholder }
              }}
            </li>
          }
          @if (
            confirmNewPassword.touched && updatePasswordForm.hasError("nomatch")
          ) {
            <li>
              {{
                "validations.pattern.passwordMatch"
                  | translate: { field: confirmNewPasswordPlaceholder }
              }}
            </li>
          }
        </ul>
      }
    </div>
    <!-- Confirm New Password -->

    <div class="flex items-center justify-center">
      <button [disabled]="isLoading()" type="submit" class="btn btn-primary">
        {{ "account.basicInfo.editForm.updateBtn" | translate }}
      </button>
    </div>
  </form>
  @if (errorMsg()) {
    <div role="alert" class="alert alert-error">
      <span> {{ errorMsg() }} </span>
    </div>
  }
</div>
