<div class="space-y-8">
  @for (order of latestOrders(); track order.orderId) {
    <div>
      <app-order-card [order]="order" (canceled)="onCancelOrder()"  (showDetails)="showOrderDetails(order)" />
    </div>
  } @empty {
    @let notFound = "account.latestOrders.notFound" | translate;
    <app-notfound-resource [message]="notFound" />
  }
</div>

@let order = selectedOrder();
@let title = "orders.orderDetails.title" | translate;
@if (order) {
  <app-modal
    [title]="title"
    [(visible)]="orderDetailsVisible"
    [closeOnBackdropClick]="true"
  >
    <div>
      <app-order-details [order]="order" />
    </div>
  </app-modal>
}
