<section class="my-10 space-y-6">
  <h1 class="text-base-content text-center text-4xl font-bold">
    {{ "auth.resetPassword.title" | translate }}
  </h1>
  <div class="bg-base-200 mx-auto max-w-xl space-y-4 rounded-lg p-10 shadow">
    @if (formVisible()) {
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword()"
        class="space-y-4"
      >
        <!-- Password -->
        @let newPassword = resetPasswordForm.controls.newPassword;
        @let newPasswordPlaceholder =
          "auth.resetPassword.newPassword" | translate;
        <div class="space-y-2">
          <label class="floating-label">
            <span>
              {{ newPasswordPlaceholder }}
            </span>
            <input
              formControlName="newPassword"
              type="password"
              class="input input-md w-full"
              [placeholder]="newPasswordPlaceholder"
              autocomplete="new-password"
            />
          </label>

          @if (newPassword.touched && newPassword.errors) {
            <ul
              [class]="{
                'list-disc': newPassword.hasError('required'),
                'list-decimal': newPassword.hasError('pattern'),
              }"
              class="text-error list-inside space-y-1 text-sm"
            >
              @if (newPassword.hasError("required")) {
                <li>
                  {{
                    "validations.required"
                      | translate: { field: newPasswordPlaceholder }
                  }}
                </li>
              }
              @if (newPassword.hasError("pattern")) {
                <h4 class="font-semibold">
                  {{
                    "validations.pattern.password.requirements.title"
                      | translate
                  }}
                </h4>
                @for (requirement of 5 | range; track $index) {
                  <li>
                    {{
                    `validations.pattern.password.requirements.rules.${$index}`
                      | translate
                    }}
                  </li>
                }
              }
            </ul>
          }
        </div>
        <!-- Password -->

        <!-- Confirm Password -->
        @let confirmPassword = resetPasswordForm.controls.confirmPassword;
        @let confirmNewPasswordPlaceholder =
          "auth.resetPassword.confirmNewPassword" | translate;
        <div class="space-y-2">
          <label class="floating-label">
            <span>
              {{ confirmNewPasswordPlaceholder }}
            </span>
            <input
              formControlName="confirmPassword"
              type="password"
              class="input input-md w-full"
              [placeholder]="confirmNewPasswordPlaceholder"
              autocomplete="new-password"
            />
          </label>

          @if (resetPasswordForm.errors || confirmPassword.errors) {
            <ul class="text-error list-inside list-disc space-y-1 text-sm">
              @if (
                confirmPassword.touched && confirmPassword.hasError("required")
              ) {
                <li>
                  {{
                    "validations.required"
                      | translate: { field: confirmNewPasswordPlaceholder }
                  }}
                </li>
              }
              @if (
                confirmPassword.touched && resetPasswordForm.hasError("nomatch")
              ) {
                <li>
                  {{ "validations.pattern.passwordMatch" | translate }}
                </li>
              }
            </ul>
          }
        </div>
        <!-- Confirm Password -->

        <div class="flex items-center justify-center">
          <button type="submit" class="btn btn-primary">
            {{ "auth.resetPassword.resetPasswordBtn" | translate }}
          </button>
        </div>
      </form>
    }

    @if (successMsgVisible()) {
      <div role="alert" class="alert alert-success">
        <span>
          {{ successMsg() }}
        </span>
      </div>
      <p>
        <a
          [routerLink]="['/auth', 'login']"
          class="link link-primary flex items-center gap-2 no-underline"
        >
          <span>
            {{ "auth.resetPassword.loginNavigation.link" | translate }}
          </span>
          <i
            [class]="{
              'fa-arrow-right': currLang() === 'en',
              'fa-arrow-left': currLang() === 'ar',
            }"
            class="fa-solid"
          ></i>
        </a>
      </p>
    } @else if (errorMsgVisible()) {
      <div role="alert" class="alert alert-error">
        <span> {{ errorMsg() }} </span>
      </div>
    }
  </div>
</section>
