<section class="my-10 space-y-6">
  <h1 class="text-base-content text-center text-4xl font-bold">
    {{ "auth.forgetPassword.title" | translate }}
  </h1>
  <div class="bg-base-200 mx-auto max-w-xl space-y-4 rounded-lg p-10 shadow">
    @if (formVisible()) {
      <form
        [formGroup]="forgetPasswordForm"
        (ngSubmit)="forgetPassword()"
        class="space-y-4"
      >
        <!-- Email -->
        @let email = forgetPasswordForm.controls.email;
        @let emailPlaceholder = "auth.forgetPassword.email" | translate;

        <div class="space-y-2">
          <label class="floating-label">
            <span>
              {{ emailPlaceholder }}
            </span>
            <input
              formControlName="email"
              type="email"
              class="input input-md w-full"
              [placeholder]="emailPlaceholder"
              autocomplete="email"
            />
          </label>
          @if (email.touched && email.errors) {
            <ul class="text-error list-inside list-disc space-y-1 text-sm">
              @if (email.hasError("required")) {
                <li>
                  {{
                    "validations.required"
                      | translate: { field: emailPlaceholder }
                  }}
                </li>
              }
              @if (email.hasError("email")) {
                <li>
                  {{
                    "validations.email" | translate: { field: emailPlaceholder }
                  }}
                </li>
              }
            </ul>
          }
        </div>
        <!-- Email -->

        <div class="flex items-center justify-center">
          <button type="submit" class="btn btn-primary">
            {{ "auth.forgetPassword.sendResetPasswordLinkBtn" | translate }}
          </button>
        </div>

        <p class="flex items-center gap-2">
          {{ "auth.forgetPassword.loginNavigation.title" | translate }}
          <a
            [routerLink]="['/auth', 'login']"
            class="link link-primary flex items-center gap-2 no-underline"
          >
            <span>
              {{ "auth.forgetPassword.loginNavigation.link" | translate }}
            </span>
            <i
              [class]="{
                'fa-arrow-right': currLang() === 'en',
                'fa-arrow-left': currLang() === 'ar',
              }"
              class="fa-solid"
            ></i>
          </a>
        </p>
      </form>
    }
    @let msg = message();
    @if (msg) {
      <div role="alert" class="alert alert-info">
        {{ msg }}
      </div>
    }
  </div>
</section>
